{% if items is not empty %}
  <div class="exchange-container">
    {% for item in items %}
    <div class="exchange">
      <div class="exchange-ccy">
        {% if item.ccy %}
          {{ item.ccy }}
        {% endif %}
      </div>
      <div>
        <div class="exchange-buy">
          Buy
        </div>
        <div class="exchange-baseccy">
          {% if item.buy and item.base_ccy %}
            {{ item.buy }} {{ item.base_ccy }}
          {% endif %}
        </div>
      </div>
      <div>
        <div class="exchange-sale">
          Sale
        </div>
        <div class="exchange-baseccy">
          {% if item.sale and item.base_ccy %}
            {{ item.sale }} {{ item.base_ccy }}
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endif %}
